<% if @action == 'list' %>
  <nav>
    <%= "<a href=\"http://#{@user.id}.#{APP_DOMAIN}/feed.xml\" class=\"rss\">RSS feed</a>" if @user %>
  </nav>


<% elsif @action == 'view' %>
  <nav>
    <a href="https://gist.github.com/<%= @gist.id %>" id="gistid" data-gist-id="<%= @gist.id %>">See the original Gist</a>
    <%= "<a href=\"http://#{@user.id}.#{APP_DOMAIN}/\">#{@user.name}'s other Drafts</a>" if @user %>

    <% if @github.user_authenticated? && @gist.belongs_to?(session[:github_id]) %>
      <a href="/<%= @gist.id %>/edit" class="button">Edit</a>
      <a href="/<%= @gist.id %>/delete.json" class="button delete" data-confirm="Are you sure you want to delete '<%=
      if @gist.description.nil? || @gist.description.empty?
        @gist.id
      else
        @gist.description_safe.gsub(/"/, '\'')
      end %>'? THERE IS NO UNDO!" data-method="delete" data-remote="true">Delete</a>

    <% else %>
      <%= "<a href=\"http://#{@user.id}.#{APP_DOMAIN}/feed.xml\" class=\"rss\">RSS feed</a>" if @user %>

    <% end %>
  </nav>


<% elsif @action == 'edit' %>
  <nav>
    <a href="https://gist.github.com/<%= @gist.id %>" id="gistid" data-gist-id="<%= @gist.id %>">See the original Gist</a>
    <button type="submit" id="save-edit">Save</button>
    <a href="/preview.json" class="button preview" id="preview-edit">Preview</a>
    <a href="/<%= @gist.id %>" class="button cancel" id="cancel-edit">Cancel</a>
    <a href="/<%= @gist.id %>/delete.json" class="button delete" data-confirm="Are you sure you want to delete '<%=
    if @gist.description.nil? || @gist.description.empty?
      @gist.id
    else
      @gist.description_safe.gsub(/"/, '\'')
    end %>'? THERE IS NO UNDO!" data-method="delete" data-remote="true">Delete</a>
  </nav>


<% elsif @action == 'new' %>
  <nav>
    <button type="submit" id="save-edit">Save</button>
    <a href="/preview.json" class="button preview" id="preview-edit">Preview</a>
    <a href="/" class="button cancel" id="cancel-edit">Cancel</a>
  </nav>

<% end %>