<form action="/<%= @gist.id %>/update.json" method="post" class="content gist-edit">
  <input type="text" name="title" id="title" placeholder="Title" value="<%= @gist.description %>">

  <% @gist.files.each do |x, file| 
    if ! file['rendered'].nil? %>
      <% #<textarea name="content[<%= file['filename'].gsub(/\./, '-') % >]" id="<%= file['filename'].gsub(/\./, '-') % >" placeholder="Content"><%= file['content'] % ></textarea>%>
      
      
      
      <div class="edit_container"><div class="pre_container" id="<%= file['filename'].gsub(/[\s\.]/, '-') %>" data-filename="<%= file['filename'] %>"><%= file['content'] %></div></div>
    <% end
  end %>
</form>