<section class="content instapaper-body">
<% if ! ( @gist.description.nil? || @gist.description.empty? ) %>
  <header>
    <h1 class=" instapaper-title"><%= code @gist.description %></h1>
  </header>
<% end

unrenderable = Array.new

@gist.files.each do |x, file|
  if file[:rendered].nil?
    unrenderable << file

  else %>
    <article class="file" data-filename="<%= file[:filename] %>">
      <%= file[:rendered] %>
    </article><%
  end
end %>

  <%= partial 'modules/gist/_metadata'.to_sym, :locals => {:unrenderable => unrenderable} %>
</section>

<script>
  (function() {
    gist = {};

    gist.id = "<%= @gist.id %>";

    window.Gist = gist;
  })();
</script>
