<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title><%=
	if @gist
	  if ! @gist.description.empty?
	    @gist.description << " | Roughdraft.io"
	  else
	    "Gist ##{@gist.id} | Roughdraft.io"
	  end
	else
	  'Roughdraft.io | Gist-powered writing.'
	end
	%></title>

<% if @gist %>
  <%= partial :_gist_header %>
<% else %>
  <meta http-equiv="Content-Language" content="en-us">
	<meta name="description" content="Gist-powered writing.">
	<meta name="author" content="Jed Foster">
<% end %>

	<!--  Mobile Viewport Fix, use at own risk -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <link rel="shortcut icon" href="/favicon.ico">

	<link rel="stylesheet" href="/stylesheets/style.css" />

	<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39257637-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
  <header class="site-header">
    <div class="logo">
      <h1>Roughdraft</h1>
      <span>Gist-powered writing</span>
    </div>

  <% if @gist %>
    <nav>
      <a href="https://gist.github.com/<%= @gist.id %>" id="gistid" data-gist-id="<%= @gist.id %>">See the original Gist</a>

      <%= "<a href=\"http://#{@user.id}.#{APP_DOMAIN}/\">#{@user.name}'s other Drafts</a>" if @user %>
      
      <% if @github.authenticated? && session[:github_id] 

        if @edit %>
          <button type="submit" id="save-edit">Save</button> 
      
          <a href="/<%= @gist.id %>" class="button cancel" id="cancel-edit">Cancel</a>
          
        <% else %>
          <a href="/<%= @gist.id %>/edit" class="button">Edit this Draft</a>
        <% end # end if @edit
      else %>
        <%= "<a href=\"http://#{@user.id}.#{APP_DOMAIN}/feed.xml\" class=\"rss\">RSS feed</a>" if @user %>
      <% end # end if @github.authenticated? %>
    </nav>
    <% else %>
      <%= "<a href=\"http://#{@user.id}.#{APP_DOMAIN}/feed.xml\" class=\"rss\">RSS feed</a>" if @user %>
    <% 
    
     end # end if @gist %>


    <div class="github">
    <% if @github.authenticated? && session[:github_id] %>
      <span href="">Logged in as <%=session[:github_id]%></span>
      <a href="<%="http://#{session[:github_id]}.#{APP_DOMAIN}/"%>">My Drafts</a>
      <a href="/logout" class="logout">Logout</a>
    <% else %>
      <a href="/authorize" class="login">Login</a>
    <% end %>
    </div>
  </header>

  <%= yield %>

	<footer>
    <p><a href="http://www.<%= APP_DOMAIN %>/">Roughdraft</a>. Gist-powered writing.</p>
  </footer>

  <% if settings.environment == :production %>
    <script src="/javascripts/app.js"></script>
    <% if @edit %>
      <script src="/javascripts/editor.js"></script>
    <% end %>
  <% else %>
  	<script src="/javascripts/vendor/jquery-1.8.2.js"></script>
  	<script src="/javascripts/vendor/Prettify/prettify.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-css.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-scss.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-sql.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-vim.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-yaml.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-apollo.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-clj.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-go.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-hs.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-lisp.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-lua.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-ml.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-n.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-proto.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-scala.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-tex.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-vb.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-vhdl.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-wiki.js"></script>
    <script src="/javascripts/vendor/Prettify/lang-xq.js"></script>
    <script src="/javascripts/vendor/Prettify/prettify-loader.js"></script>
    <script src="/javascripts/main.js"></script>
    <% if @edit %>
      <script src="/javascripts/vendor/ACE-noconflict/ace.js"></script>
      <script src="/javascripts/vendor/ACE-noconflict/theme-tomorrow.js"></script>
      <script src="/javascripts/edit.js"></script>
    <% end %>
  <% end %>
</body>
</html>
