<section class="content user-gist-list">
  <header>
    <h1><%= user['name'] %>'s Drafts</h1>
  </header>

  <ul class="gists">
  <% gists['list'].each do |gist| %>
    <li>
      <a href="/<%= gist['id'] %>"><%=gist['id']
      if gist['description'].nil? || gist['description'].empty?
        gist['id']
      else
        gist['description']
      end %></a>
      <span class="posted">posted: <time datetime="<%= gist['created_at'] %>"><%= Time.parse(gist['created_at']).strftime("%b %-d, %Y") %></time></span>

    </li>
  <% end %>
  </ul>
  
  <% if gists['links']['prev'] %>
    <a href="<%= gists['links']['prev'].to_i > 1 ? "/page/#{gists['links']['prev']}" : "/"%>">prev</a>
  <% end %>
  
  <% if gists['links']['next'] %>
    <a href="/page/<%= gists['links']['next'] %>">next</a>
  <% end %>
</section>