<section class="content user-gist-list home">
  <header>
    <h1 class="entry-title"><%= user['name'] %>'s Drafts</h1>
  </header>

  <ul>
  <% user['gists'].each do |gist| %>
    <li>
      <time datetime="<%= gist['created_at'] %>"><%= Time.parse(gist['created_at']).strftime("%b %-d, %Y") %></time>
      <a href="/<%= gist['id'] %>"><%=gist['id']
      if gist['description'].nil? || gist['description'].empty?
        gist['id']
      else
        gist['description']
      end %></a>
    </li>
  <% end %>
  </ul>
</section>