<section class="content user-gist-list">
  <header>
    <h1><%= user['name'] %>'s Drafts</h1>
  </header>

  <ul class="gists">
  <% user['gists'].each do |gist| %>
    <li>
      <a href="/<%= gist['id'] %>"><%=gist['id']
      if gist['description'].nil? || gist['description'].empty?
        gist['id']
      else
        gist['description']
      end %></a>
      <span class="posted">posted: <time datetime="<%= gist['created_at'] %>"><%= Time.parse(gist['created_at']).strftime("%b %-d, %Y") %></time></span>

    </li>
  <% end %>
  </ul>
</section>