<section class="content user-gist-list">
  <header>
    <h1><%= @user.name %>'s Drafts</h1>
  </header>

  <ul class="latest-gist">
  <% gist = @user.latest_gist %>
    <li>
      <a href="/<%= gist['id'] %>"><%=gist['id']
      if gist['description'].nil? || gist['description'].empty?
        gist['id']
      else
        gist['description']
      end %></a>
      <span class="posted">posted: <time datetime="<%= gist['created_at'] %>"><%= Time.parse(gist['created_at']).strftime("%b %-d, %Y") %></time></span>

    </li>

  </ul>
  
  <ul class="gists" id="list">
  <% 

  gists.list.shift if gists.page.to_i == 1

  gists.list.each do |gist| %>
    <li>
      <a href="/<%= gist['id'] %>"><%=
      if gist['description'].nil? || gist['description'].empty?
        gist['id']
      else
        gist['description']
      end %></a>
      <span class="posted">posted: <time datetime="<%= gist['created_at'] %>"><%= Time.parse(gist['created_at']).strftime("%b %-d, %Y") %></time></span>

    </li>
  <% end %>
  </ul>

  <nav id="list-nav">
    <% if gists.links['prev'] %>
    <a href="/page/<%= gists.links['prev'] %>" class="prev-link">previous</a>
    <% end %>
  
    <% if gists.links['next'] %>
    <a href="/page/<%= gists.links['next'] %>" class="next-link">next</a>
    <% end %>
  </nav>
</section>