<section class="content instapaper-body">
<% if ! ( @gist.description.nil? || @gist.description.empty? ) %>
  <header>
    <h1 class=" instapaper-title"><%= code @gist.description %></h1>

    <time datetime="<%= @gist.content[:created_at] %>">
      Posted: <%= @gist.content[:created_at].strftime "%b %-d, %Y" %>
    </time>

    <% if ((@gist.content[:updated_at] - @gist.content[:created_at]) / 86400).days > 7.days %>
      <% ago = ((Time.now.utc - @gist.content[:updated_at]) / 86400).to_i %>

      <time datetime="<%= @gist.content[:updated_at] %>">
        (Updated <%= "#{ago} day".pluralize ago %> ago)
      </time>

    <% end %>
  </header>
<% end

unrenderable = Array.new

@gist.files.each do |x, file|
  if file[:rendered].nil?
    unrenderable << file

  else %>
    <article class="file" data-filename="<%= file[:filename] %>">
      <%= file[:rendered] %>
    </article><%
  end
end %>

  <%= partial 'modules/gist/_metadata'.to_sym, :locals => {:unrenderable => unrenderable} %>
</section>

<script>
  (function() {
    gist = {};

    gist.id = "<%= @gist.id %>";

    window.Gist = gist;
  })();
</script>
